PORT=

DATABASE_URL="postgresql://username:password@hostname:port/zeon?schema=public"

CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=
SVIX_SECRET_KEY=

KORA_API_URL=
KORA_SECRET_KEY=
KORA_REDIRECT_URL=
KORA_WEBHOOK_URL=